// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$header-bar-opacity: 0.75;
$nav-bar-opacity: 0.79;
$footer-bar-opacity: $nav-bar-opacity;

body {
  max-width:none;
  > header {
    opacity: $header-bar-opacity;
    margin:2.5em 0 .1em;
    padding:16px 55px;
    h1 {
      font-size:1.6em;
      display: inline;
    }
    h2 {
      display:inline;
      font-size:1.0em;
    }
  }
  > div {
    background: $sidebar-bg;
    > div {
      background: $main-bg;
    }
  }

  > nav {
    margin:0 0 0 0;
    padding: .35em 55px .35em 55px;
    opacity: $nav-bar-opacity;
  }

  #main {
    max-width:1100px;
  }

  > footer {
    opacity: $footer-bar-opacity;
    border-bottom-right-radius:0;
    border-bottom-right-radius:0;
  }
}

#{headings()}{
  font-size:2.0em;
}
